<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.viewdemo">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".ViewDemoActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".LineCharActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>

    </application>

</manifest>
